#root.events-page {
    .page-content {
        max-width: 1200px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 50px 10px;

        display: flex;

        events-list {
            flex: 1;
            min-width: 200px;
            margin-right: 20px;
        }

        event-details {
            flex: 2;
        }
    }
}