#root events-list {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 15px 10px;
            border-bottom: 1px solid #c9c9c9;
            &:last-child { border-bottom: 0; }
            // font-size: 1.1em;

            .date {
                width: 60px;
                text-align: center;
                color: #aeaeae;
                margin-right: 10px;
                flex-shrink: 0;
            }

            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.ongoing {
                .date {
                    color: #f92e2e;
                }
            }

            &.selected {
                background: #15d27a;
                &, .date { color: white; }
            }

            &:hover:not(.selected) {
                background: #efefef;
            }
        }
    }

    .new-event-btn {
        width: 100%;
        padding: 10px;
    }

    .new-event-form {
        display: flex;

        input {
            flex: 1;
            margin-right: 10px;
        }

        button {
            flex-shrink: 0;
            min-width: 60px;
        }
    }

    .search-input {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }

    .only-own-checkbox {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        input {
            margin-right: 5px;
        }
    }

    ul.future {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul.past {
        margin-top: 10px;
        color: #a7a7a7;
    }

    .past-label {
        // text-align: center;
        margin-top: 60px;
        font-size: 0.9em;
        display: flex;
        align-items: center;

        hr {
            flex: 1;
            border: 0;
            border-bottom: 1px solid #c9c9c9;
        }

        span {
            margin: 0 10px;
        }
    }
}