<input type="text" class="search-input" ng-model="$ctrl.searchQuery" ng-change="$ctrl.reload()" placeholder="Search" />
<div class="only-own-checkbox">
    <input id="own-events-only-checkbox" type="checkbox" ng-model="$ctrl.ownEventsOnly" ng-change="$ctrl.reload()" />
    <label for="own-events-only-checkbox">Only my own</label>
</div>

<ul class="future">
    <li
        ng-repeat="event in $ctrl.futureEvents track by event.uuid"
        ng-click="$ctrl.handleSelect(event)"
        ng-class="{selected: $ctrl.isSelected(event), ongoing: $ctrl.isOngoing(event)}">
        <div class="date">{{$ctrl.formatDate(event.starts_at, event.timezone)}}</div>
        <div class="name">{{event.name}}</div>
    </li>
</ul>

<button type="button" class="new-event-btn" ng-if="!$ctrl.nameInputActivated" ng-click="$ctrl.activateNameInput()">New event</button>
<form class="new-event-form" ng-if="$ctrl.nameInputActivated" ng-submit="$ctrl.createEvent()">
    <input type="text" ng-model="$ctrl.newEventName" placeholder="Name the event" />
    <button type="submit">Ok</button>
</form>

<div class="past-label" ng-if="$ctrl.pastEvents.length > 0">
    <hr />
    <span>Past events</span>
    <hr />
</div>

<ul class="past">
    <li
        ng-repeat="event in $ctrl.pastEvents track by event.uuid"
        ng-click="$ctrl.handleSelect(event)"
        ng-class="{selected: $ctrl.isSelected(event)}">
        <div class="date">{{$ctrl.formatDate(event.starts_at, event.timezone)}}</div>
        <div class="name">{{event.name}}</div>
    </li>
</ul>