#root event-details {
    .empty-placeholder {
        $size: 80vh;
        height: $size;
        line-height: $size;
        background: #efefef;
        text-align: center;
        color: #cdcdcd;
    }

    .event-details-content {
        padding-left: 20px;
    }

    .name {
        font-size: 3em;
        font-weight: lighter;
        margin-top: 0;
    }

    .ongoing-message {
        color: #f92e2e;
    }

    .details {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .start-date, .end-date, .location, .owner {
        margin-bottom: 10px;

        .label {
            display: inline-block;
            &::after {
                content: ':';
            }
        }
        .value {
            display: inline-block;
        }
    }

    .dates {
        display: flex;

        .start-date {
            margin-right: 20px;
        }
    }
}