<div ng-if="$ctrl.event" class="event-details-content">
    <h1 class="name">{{$ctrl.event.name}}</h1>

    <p class="description">{{$ctrl.event.description}}</p>

    <div class='ongoing-message' ng-if="$ctrl.isOngoing()">This event is taking place just now.</div>

    <div class="details">
        <div class="dates">
            <div class="start-date">
                <div class="label">From</div>
                <div class="value">{{$ctrl.formatDate($ctrl.event.starts_at)}}</div>
            </div>
            
            <div class="end-date">
                <div class="label">Until</div>
                <div class="value">{{$ctrl.formatDate($ctrl.event.ends_at)}}</div>
            </div>
        </div>

        <div class="location">
            <div class="label">Place</div>
            <div class="value">{{$ctrl.event.location}}</div>
        </div>

        <div class="owner">
            <div class="label">Organizer</div>
            <div class="value">{{$ctrl.event.owner.name}}</div>
        </div>
    </div>

    <div class="actions">
        <button type="button" ng-click="$ctrl.delete()" ng-disabled="!$ctrl.canDelete()">Cancel event</button>
        <button type="button" ng-click="$ctrl.duplicate()" ng-disabled="!$ctrl.canDuplicate()">Duplicate</button>
    </div>
</div>

<div ng-if="!$ctrl.event" class='empty-placeholder'>
    Please select an event
</div>