body, html, input, button {
    font-family: 'Roboto', sans-serif;
    color: #383838;
    font-size: 14px;
    line-height: 1.5;

    button {
        outline: 0;
        border: 2px solid #d2d2d2;
        background: #f8f8f8;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 0.9em;
        cursor: pointer;

        &[disabled] {
            color: #c7c7c7;
            cursor: default;
        }

        &:hover:not([disabled]) {
            background: white;
            border-color: #15d27a;
            color: #15d27a;
        }
    }
}

input {
    padding: 7px 15px;
    outline: 0;
    border: 2px solid #d7d7d7;

    &:focus {
        color: #15d27a;
        border-color: #15d27a;
    }
}